[submodule "core"]
	path = core
	url = ../blinko-core.git
[submodule "arduino"]
	path = arduino
	url = ../blinko-arduino.git
[submodule "zephyr-module"]
	path = zephyr-module
	url = ../blinko-zephyr.git
[submodule "ios"]
	path = ios
	url = ../blinko-ios.git
[submodule "android"]
	path = android
	url = ../blinko-android.git
